/* $heading1: 
$color-primary: #CCD5AE
$color-secondary: #e9edc9
$color-accent: #faedcd */


#banner {
    min-height: 100px;
    background-color: #CCD5AE;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.nav {
    background-color: #905b5a;
    height: 50%;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

